body {
  margin: 0;
  // font-family: 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  // font-family:'Courier New',
  //   monospace;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  // font: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #292a2d;
}
::-webkit-scrollbar-thumb {
  background: khaki;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 230, 0);
}